<!DOCTYPE html>
<html>


  <body>
    <h2>Menu</h2>
      <h4>
        <ul>
          <li>green salad</li>
          <li>fresh lettuce, tomato and cheese</li>
          <li>50</li>
          <br>
          <li>pasta carbonara</li>
          <li>pasta with some delicious cheese sauce</li>
          <li>102</li>
          <br>
          <li>ice cream</li>
          <li>vanilla with chocolate sauce</li>
          <li>105</li>
        </ul>
      </h4>
  </body>
</html>
