%form{model: "User.new"}
  Email
  %input{name: "Email", type: "text"}/
  Password
  %input{name: "Password", type: "text"}/
  Confirmation
  %input{name: "Confirmation", type: "text"}/
  %input{type: "submit", value: "Create account", name: "Create account"}/