%nav.flex.items-center.justify-between.flex-wrap.bg-teal.p-6
    .flex.items-center.flex-no-shrink.text-white.mr-6
        = image_tag('logo.png', :id => 'logo', :alt => 'logo')
    .w-full.block.flex-grow.lg:flex.lg:items-center.lg:w-auto
        .text-sm.lg:flex-grow
            
            %div.float-right.pr-5
                %p.block.mt-4.lg:pl-4.lg:mt-0.text-teal-lighter.hover:text-white.mr-4{:href => '#responsive-header'}
                    Order total:
                %a.block.mt-4.lg:pl-5.lg:mt-0.text-teal-lighter.hover:text-white.mr-4{:href => '#responsive-header'}
                    Check out
                %br
                %br
                %p.block.mt-4.lg:inline-block.lg:mt-0.text-teal-lighter.hover:text-white.mr-4
                    = link_to 'Login', new_user_session_path
                %p.block.mt-4.lg:inline-block.lg:mt-0.text-teal-lighter.hover:text-white.mr-4{:href => '#responsive-header'}
                    = link_to 'Sign up', new_user_registration_path